* {
    box-sizing: border-box;
    margin: 0%;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-image: url(../asset/image/banner-bk.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: start;
    width: 100vw;
    height: 93vh;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 5% 9% 2%;
    align-items: center;
}

.logo img {
    width: 60%;
}

.enlacenav a {
    color: #ECEEEF;
    text-decoration: none;
    text-align: center;
}

.seccion1 {
    padding: 2% 9%;
}

h1 {
    color: white;
    font-size: 105px;
}

.inicio {
    color: #ECEEEF;
    margin: 4% 0%;
    line-height: 2.2rem;
    font-size: 20px;
}

.iniciar {
    border: none;
    border-radius: 20px;
    padding: 12px 30px;
    font-size: 15px;
    font-weight: bold;
    background: #00FFAD;
    color: #192440;
}

.secciontitulo {
    text-align: center;
    margin: 5% 0% 3%;
    font-size: 70px;
}

.horizontal {
    display: flex;
    justify-content: space-evenly;
    align-content: center;
}

.horizontal img {
    width: 90%;
}

.spam {
    align-items: center;
    text-align: center;
}

.proteccion1 {
    font-size: 20px;
    line-height: 2.5rem;
    font-weight: 300;
}

.site {
    font-size: 15px;
    line-height: 1.5rem;
}

.seccion3 {
    margin: 9% 0%;
    background: linear-gradient(-10deg, #00FFAD 60%, white 60%);
  height: 100vh;
  padding: 50px;
}
.contenidosec3{
    margin: 0% 9%;
}
.seccion3-1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.takeh {
    font-size: 70px;
}

.takep {
    font-size: 18px;
    font-weight: 100;
    margin: 3% 0%;
    line-height: 2rem;
}

.learn1 {
    border: none;
    background: #192440;
    color: white;
    border-radius: 20px;
    padding: 12px 30px;
    font-size: 15px;
    font-weight: bold;
    margin-top: 3%;
}

.seccion3-2 {
    margin-top: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.seccion4 {
    margin: 9%;
}

.check {
    font-size: 70px;
    text-align: center;
    margin-bottom: 5%;
}

.cartashorizontal {
    display: flex;
    justify-content: center;
}

.carta1 {
    text-align: center;
    background-color: #ffffff;
    padding: 3% 10%;
}

.titulocart {
    font-weight: 400;
    font-size: 20px;
    margin-bottom: 1%;

}

.precio {
    font-size: 15px;
    margin: 10%;
    font-weight: 600;
    text-align: center;
    width: 100%;
}

span {
    font-size: 90px;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 15px;
    margin-bottom: 20%;
}

li {
    line-height: 3rem;
}

.carta2 {
    background-color: #192440;
    color: white;
}

.get1 {
    border-color: #192440;
    border-radius: 20px;
    padding: 12px 30px;
    font-size: 15px;
    font-weight: bold;
    background: #ffffff;
    color: #192440;
}

.get2 {
    border: none;
    border-radius: 20px;
    padding: 12px 30px;
    font-size: 15px;
    font-weight: bold;
    background: #00FFAD;
    color: #192440;
}

.clientes {
    display: flex;
    background-color: #ECEEEF;
    justify-content: space-evenly;
    padding: 4% 0%;
}

.seccion5 {
    background-image: url(../asset/image/contact-bk.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: start;
    width: 100vw;
    height: 93vh;
    display: flex;
    justify-content: space-between;
    padding: 0% 9%;
    align-items: center;
}
.textocontact{
    color: white;
}
.conactoh{
    font-size: 70px;
}
.contactop{
    color: #ECEEEF;
    font-size: 20px;
    padding: 5% 0%;
}
.formulario{
    display: column;
    justify-content: center;
}
.forms{
    color: #00FFAD;
    font-weight: lighter;
    margin-bottom: 3%;
}
.dobleinput{
    display: flex;
    gap: 20px;
    margin-bottom: 3%;
}
.pequeño{
    
}
.input-transparente {
  background-color: transparent;
  border: 1px solid #00FFAD; 
  color: #00FFAD;
  padding: 10px;
  outline: none; 
  border-radius: 3px;
}
footer{
    display: flex;
    justify-content: space-between;
    background-color: #192440;
    padding: 2% 9%;
    color: white;
}
.copyrigth{
    font-weight: lighter;
    font-size: 15px;
}
.iconos{
    display: flex;
    justify-content: space-evenly;
    gap: 15px;
}

